button,
.button {
  --color: var(--action);
  cursor: pointer;
  border: none;
  box-shadow: 0 0 0 1px rgba(#777, .5) inset;
  padding: .4em .7em;
  border-radius: .2em;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
  background: var(--color);
  color: #fff;
  outline: none;
  will-change: transform;
  transition: transform .15s ease-out;
  &:active {
    transform: scale(.95);
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 1px rgba(#777, .5) inset, 0 0 2px 1px var(--action);
  }
  &.secondary {
    color: var(--action);
    background: rgba(#777, .1);
    &:hover {
      background: rgba(#777, .05);
    }
  }
  &.link {
    color: var(--action);
    background: transparent;
    &:not(:focus):not(:active) {
      box-shadow: none;
    }
  }
  &.danger {
    --color: var(--danger);
    // background: var(--danger);
  }
}
