.sim-autocomplete {

  .sim-autocomplete--search {
    background: $lighter;
    box-shadow: 0 0 0 1px $dusk inset;
    color: $dark;

    .sim-autocomplete--search--input {
      background: transparent;
    }

    &--icon {
      color: $dark;
      background: transparent;
    }

    &--item-count {
      color: $dusk;
      background: transparent;
    }
  }

  &--items {
    color: $dark;
    background: $lighter;
    box-shadow: 0 0 0 1px $fog, 0 .3em 1em -.3em $shadow;
  }


  li.highlighted {
    color: $blue;
    background: $shade;
  }
}
