.sim-selection {

  input {

    &::before {
      content: '\f1db';
      font-family: 'FontAwesome';
      transition: transform 350ms ease-out;
    }

    &:checked {
      color: $action;
      
      &::before {
        content: '\f058';
      }
    }
  }
}
