.sim-slide-presenter {

  &--slide {
    transform: translateX(calc(0 * -100%));
  }

  > footer {
    box-shadow: 0 0 0 1px $dusk;
    background: $shade;
  }
}

.sim-slide {
  background: $dark;
  color: $lighter;

  &--header {
    background: $dark;

    &--subtitle {
      color: $green;
    }
  }
}
