.module-section--brand-logo {

  .grid {
    grid-gap: 4rem;
    .module--demo {
      margin-top: 3rem;
      & + .module--demo {
        //margin: 0;
      }
    }
  }

  .module--demo {
    display: grid;
    align-content: end;

    &--info {
      pre {
        font-size: .875em;
      }
    }
    
  }

  .alt-logos {

    .module--demo {
      
    }
    .brand-logo:not(.brand-logo--icon) {
      max-width: 15em;
    }
  }

}


.module--demo--logo {
  padding: 0 1em;
}


.brand-logo {
  margin: 0 auto;
  max-width: 80em;
  padding: .75em;

  &--icon {
    max-width: 10em;
  }

  &--light {
    background: var(--brand-purple, var(--dark));
  }

}

.brand-gradient {
  background: linear-gradient(to right, var(--brand-green) 20%, var(--brand-teal), 50%, var(--brand-purple) 68%, var(--brand-grey) 85%);
}