.module-section--brand-colors {
  .module--demo {
    
  }
}


.module--demo--colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  //grid-gap: 1em;
  padding: 0 1em;
}
    
    
.color-swatch {
  background: var(--lightest);
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: 1fr auto;
  color: var(--dark);
  font-family: monospace;
  font-weight: bold;
  position: relative;
  transition: all .35s ease;
  z-index: 0;

  button {
    background: var(--light);
    color: var(--medium-grey);
    display: none;
    opacity: 0;
    padding: 1em;
    position: absolute;
    transition: .35s ease;
    top: 0;
    right: 0;
    z-index: 2;
    &:hover,
    &:focus {
      //opacity: 1;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 4rem 0 var(--dusk);
    outline: none;
    transform-origin: center;
    transform: scale(1.1);
    z-index: 1;
    button {
      opacity: 1;
    }
  }

  &.active {
    grid-column: span 5;
    grid-row: 1 / 2;
    display: grid;
  }

  &--example {
    background: inherit;
    color: currentColor;
    flex-basis: 50%;
    padding: 6rem;
    position: relative;
    z-index: 1;
  }
  
  &--name {
    background: var(--lightest);
    color: var(--dark);  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: .983em;
    flex-basis: 50%;
    padding: 1em 1em 3.5em;
    b {
      display: block;
      letter-spacing: -.05ch;
    }
    small {
      color: var(--medium-grey);
      font-size: 90%;
      padding-top: .5em;
    }
  }

  &.bg--lightest {
    .color-swatch--example {
      box-shadow: inset 0 0 0 1px var(--edge);
    }
  }

}