.module-section--brand-colors {
  .module--demo {
    
  }
}


.module--demo--colors {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  //grid-row-gap: .5em;
}
    
    
.color-swatch {
  background: var(--lightest);
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: 1fr auto;
  color: var(--dark);
  font-family: monospace;
  font-weight: bold;
  position: relative;
  transition: all .35s ease;
  z-index: 0;
  &:hover {
    box-shadow: 0 0 4rem 0 var(--dusk);
    transform-origin: center;
    transform: scale(1.04);
    z-index: 1;
  }

  &--example {
    background: inherit;
    color: currentColor;
    flex-basis: 50%;
    padding: 4rem;
    position: relative;
    z-index: 1;
  }
  
  &--name {
    background: var(--lightest);
    color: var(--dark);  
    display: flex;
    flex-direction: column;
    font-size: .875em;
    flex-basis: 50%;
    padding: 1em 1em 1.5em;
    b {
      display: block;
      letter-spacing: -.05ch;
    }
    small {
      color: var(--medium-grey);
      font-size: 85%;
      padding-top: .5em;
    }
  }

  &.bg--lightest {
    .color-swatch--example {
      box-shadow: 0 0 0 1px var(--edge);
    }
  }

}