a {
  display: inline-block;
  text-decoration: none;
  color: var(--action);

  &.router-link-exact-active {
    color: var(--medium-grey);
  }

  svg {
    line-height: 0;
  }
}

.accent {
  color: var(--accent);
}

// h1,
// h2 {
//   font-weight: normal;
// }

// p {
//   margin: 0;

//   + p {
//     margin-top: .5em;
//   }
// }

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: .5em 0;

    li {
      padding: .5em 0 .5em 1em;
    }
  }
}