a {
  display: inline-block;
  text-decoration: none;
  color: var(--action);

  &.router-link-exact-active {
    color: var(--medium-grey);
  }

  svg {
    line-height: 0;
  }
}

.accent {
  color: var(--accent);
}

// h1,
// h2 {
//   font-weight: normal;
// }

// p {
//   margin: 0;

//   + p {
//     margin-top: .5em;
//   }
// }

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: .5em 0;

    li {
      padding: .5em 0 .5em 1em;
    }
  }
}

// Style Guide modifiers

.demobox__content {
  font-family: var(--theme-font-family);
  //font-size: calc( 1rem + (36 - 16) * ( (100vw - 400px) / ( 1600 - 400)));
  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
  
  h2,h3,h4,h5,h6 {
    line-height: 1.4;
  }
  
  h1, .h1 {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.1;
  }
  
  h2, .h2 {
    font-size: 2.75rem;
    font-weight: 700;
  }
  
  h3, .h3 {
    font-size: 2.25rem;
    font-weight: 700;
  }
  
  h4, .h4 {
    font-size: 1.75rem;
    font-weight: 500;
  }
  
  h5, .h5 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  h6, .h6 {
    font-size: .875rem;
    font-weight: 500;
  }
}

p {
  font-size: 1rem;
  line-height: 1.658;
  margin-top: 0;
  margin-bottom: 1rem;   
  & + p {
    margin-top: 0;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.library-label {
  border-bottom: 3px solid var(--light);
  color: var(--medium-grey);
  display: inline-block;
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: .1ch;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: .25rem;
  text-transform: uppercase;
}

.library-page-title {
  font-size: 1.25rem;
}

.demo-info {
  border-top: 1px solid var(--light-grey);
  margin-left: 2px;
  padding-top: .5rem;
  p {
    color: var(--grey);
    font-family: var(--base-font-family);
    font-size: .875rem;
    font-weight: 500;
    margin-bottom: .125rem;
  }
}

.mb-sm {
  margin-bottom: .5rem;
}
