.app-header {
  background: var(--header-bg);
  color: var(--header-fg);
  font-size: 1em;
  a {
    color: var(--light);
    //padding: 1em .5em 1em 1em;
  }
  .greeting {
    opacity: .6;
    padding-top: .25em;
    padding-left: .25em;
    // @media (max-width: 60.688em) {
    //   display: none;
    // }
  }
}

.app-logo {
  flex-grow: 1;
  padding: 1em;
}

.logo {
  //line-height: 0;
  svg {
    width: 9.5em;
    height: 2em;
  }
}
