.app-header {
  background: var(--header-bg);
  color: var(--header-fg);
  font-size: 1em;
  a {
    color: var(--light);
    //padding: 1em .5em 1em 1em;
  }
  .greeting {
    //display: block;
    opacity: .6;
    padding-top: .25em;
  }
}

.app-logo {
  padding: 1em;
}

.logo {
  line-height: 0;
  svg {
    width: 9.5em;
    height: 2em;
  }
}
