input {
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  border-radius: .2em;
  &:not([type=checkbox]):not([type=radio]) {
    appearance: none;
    padding: .4em .7em;
    border: none;
    width: 100%;
    box-shadow: 0 0 0 1px rgba(#777, .5) inset;
    transition: all var(--ms) ease-out;
  }
  &:active,
  &:focus {
    // box-shadow: 0 0 2px 1px var(--action);
    &:not([type=checkbox]):not([type=radio]) {
      box-shadow: 0 0 0 1px rgba(#777, .5) inset, 0 0 2px 1px var(--action);
    }
  }
  &[readonly] {
    background: transparent;
    color: inherit;
    box-shadow: none;
    padding: .4em 0;
  }
  &::placeholder {
    font-family: FontAwesome, sans-serif;
  }
  &::-webkit-inner-spin-button {
    margin: -.5em 0;
  }
  &::-webkit-datetime-edit-fields-wrapper {
    margin: -.5em 0;
  }
  &::-webkit-calendar-picker-indicator {
    margin: -.5em 0;
  }
  &::-webkit-datetime-edit {
    max-width: 6em;
  }
}
