body {
  background: var(--base-bg);
  color: var(--base-color);
  font-family: var(--base-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 150vh;
  margin: 0;
  display: flex;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#app {
  flex: 1;
  display: flex;
}
.app-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  > header {
    flex: none;
    + * {
      flex: 1;
    }
  }
}
.app-header {
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-content {
  position: relative;
  z-index: 0;
  transition: all calc(var(--ms) / 2) ease-out;
  display: flex;
  flex-direction: row-reverse;
  > main,
  > aside {
    padding: 1em;
    position: relative;
  }
  > main {
    flex: 1;
    > h1 {
      margin-top: 0;
    }
    a {
      color: var(--base-link-color);
    }
  }
  > aside {
    flex: .2;
    color: var(--menu-fg);
    background: var(--menu-bg);
    border-right: 1px solid var(--cloud);
    transition: all calc(var(--ms) / 2) ease-out;
  }
  .app-menu {
    header {
      position: sticky;
      top: 3.2em;
    }
  }
  .library {
    > article {
      position: relative;
      transition: all calc(var(--ms) / 2) ease-out;
    }
  }
}


.flex-1 {flex: 1;}
.flex-2 {flex: 2;}
.flex-3 {flex: 3;}
.flex-4 {flex: 4;}
.flex-5 {flex: 5;}
.flex-6 {flex: 6;}

.flex-1-all > * {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-row {
  display: flex;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-baseline {
  display: flex;
  align-items: baseline;
}
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-baseline-between {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.flex-baseline-around {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}


.sim-overlay {
  section {
    padding: 2em 2em 0 2em;
    &.left {
      flex: 1;
      padding-left: 1em;
      background: var(--light) linear-gradient(90deg, #fff, var(--light));
    }
    &.right {
      flex: 1;
      padding-right: 1em;
      background: #fff;
    }
  }
  > header,
  > footer {
    flex: none;
    padding: 1em;
    background: #fff;
  }
}
