:root {
  --grid-gap-size: 1rem;
  display: grid;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex: 1;
}

.app-layout {
  display: flex;
  flex: 1;
  flex-direction: column;

  > header {
    flex: none;

    + * {
      flex: 1;
    }
  }
}

.app-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  position: relative;
  transition: all calc(var(--ms) / 2) ease-out;
  z-index: 0;

  @media (min-width: 40em) {
    display: grid;

    // this sets the .app-sidebar grid-column to:
    // grow with content up to 20rem
    // grid-template-columns: fit-content(20rem) 1fr;

    // this sets the .app-sidebar grid-column to:
    // have a min-width of 15rem and a max-width of 13vmax
    // displays more proportionately at larger screens
    grid-template-columns: minmax(15rem, 13vmax) 1fr;
    grid-template-rows: auto 1fr;
  }
}

.app-main {
  //box-shadow: 1px 0 0 0 var(--edge);
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr fit-content(1em);
  padding: 2em;
  position: relative;

  hr {
    width: 100%;
  }

  @media (min-width: 40em) {
    flex: 1 0 auto;
    grid-column: span 2;
    grid-row: 2 / 2;
  }
}

.app-sidebar {
  background: var(--menu-bg);
  color: var(--menu-fg);
  flex: 1 0 25%;
  grid-row: 2 / 2;
  //opacity: 0;
  position: relative;
  transition: all .3s calc(var(--ms) / 2) ease-out;

  &.is-visible {
    //opacity: 1;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // z-index: 1000;
  }

  @media (min-width: 40em) {
    display: block !important;
  }
}

.app-menu {

  @media (min-width: 40em) {
    position: sticky;
    top: 3.5em;
  }
}

.library {

  > article {
    position: relative;
    transition: all calc(var(--ms) / 2) ease-out;
  }
}

.app-footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding: 1em 0;

  p {
    font-size: .75rem;
    margin-bottom: 0;
  }
}

.flex-1 {flex: 1;}
.flex-2 {flex: 2;}
.flex-3 {flex: 3;}
.flex-4 {flex: 4;}
.flex-5 {flex: 5;}
.flex-6 {flex: 6;}

.flex-1-all > * {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
}

.flex-center {
  align-items: center;
  display: flex;
}

.flex-baseline {
  align-items: baseline;
  display: flex;
}

.flex-center-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.flex-baseline-between {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.flex-baseline-around {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
}

.grid {
  align-content: center;
  display: grid;
  grid-gap: var(--grid-gap-size, 1rem);

  &--no-gap {
    grid-gap: initial;
  }

  &--two-columns {
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
  }

  &--three-columns {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }

  &--four-columns {
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  }

  &--auto-columns {
    grid-template-columns: repeat(auto-fit, minmax(5em, 25%));
    justify-content: center;

    .module--demo {
      align-content: space-between;
    }
  }
}

.sim-overlay {
  section {
    padding: 2em 2em 0 2em;

    &.left {
      background: var(--light) linear-gradient(90deg, #fff, var(--light));
      flex: 1;
      padding-left: 1em;
    }

    &.right {
      background: #fff;
      flex: 1;
      padding-right: 1em;
    }
  }

  > header,
  > footer {
    background: #fff;
    flex: none;
    padding: 1em;
  }
}
