.app-nav {
  display: flex;
  align-items: center;
  a {
    padding: 1em;
    transition: calc(var(--ms)/2) linear;
    &:hover {
      box-shadow: 0 -.1em 0 0 var(--lighter) inset;
    }
    &.router-link-active {
      color: var(--light);
      background: var(--accent);
    }
  }
  .greeting {
    padding: 0 1em;
    opacity: .6;
  }
}
nav {
  margin: 0;
  padding: 0;
  display: flex;
  li {
    list-style: none;
  }
}
