nav {
  margin: 0;
  padding: 0;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.app-nav {
  flex-grow: 1;
  nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;    
  }
  ul {
    display: flex;    
    flex-wrap: wrap;
  }
  li {
    display: flex;
    padding: 0;
  }
  a {
    display: flex;
    padding: 1em;
    transition: calc(var(--ms)/2) linear;
    color: var(--action-light);
    &:hover,
    &:focus {
      box-shadow: 0 -.25em 0 0 var(--hover, var(--action)) inset;
    }
    &.router-link-active {      
      background: var(--lightest);
      box-shadow: 0 .2em 0 0 var(--hover, var(--action)) inset;
      color: var(--active);
    }
  }
  @media (max-width: 41.250em) {
    flex: 1 0 100%;
    ul  {
      flex-direction: column;
    }
    li  {
      a {
        flex-grow: 1;
      }
    }
  }
  @media (max-width: 62.09em) {
    display: none;
    &[aria-hidden="true"] {
      display: flex;
    }
    ul  {
      flex-grow: 1;
      //justify-content: space-between;
    }
    li {
      //flex-grow: 1;
    }
  }
}

// app menu

.app-menu {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    padding: .5em .5em .5em 1em;
  }
  a {
    color: var(--action);
    &.router-link-exact-active {
      color: var(--medium-grey);
    }
  }
  header {
    padding: .5em 1em;
    color: var(--light);
    background: var(--medium-grey);
    //margin: 0 -1em;
  }
  section li {
    padding: .5em 0 .5em 2.875em;
  }
}

.toggle-button {
  background: var(--dark-grey);
  border-radius: 0;
  color: var(--light);
  //font-size: .65em;
  //flex-grow: 1;
  //font-weight: 600;
  //padding: 1em 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .fa {
    // position: relative;
    // top: -1px;
    transition: transform .35s ease;
  }
  &--main-menu {
    flex-grow: 1;
    background: var(--dark-grey);
    //box-shadow: 1px 0 0 0 var(--grey) inset;   
    padding: 1em .5em;
    &[aria-expanded="true"] {
      background: var(--grey);
    }
    @media (min-width: 62.125em) {
      display: none;
    }
  }
  &--sidebar {
    //background: var(--dark);
    background: transparent;
    //color: var(--action-light);
    margin-left: auto;
    padding: 1em;
    text-transform: uppercase;
    span:not(.fa) {
      font-size: .9em;
    }
    &.target-is-visible {
      .fa {
        transform: rotate(180deg);
      }
    }
    //box-shadow: 1px 0 0 0 var(--grey) inset;
  }
  &:hover,
  &:focus {
    background: var(--grey);
    color: var(--light);
    box-shadow: none;
    outline: 0;
    transform: none; 
  }
}