.app-nav {
  display: flex;
  flex-grow: 1;
  nav {
    display: flex;
    flex-grow: 1;
  }
  ul {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    @media (min-width: 872px) {
      justify-content: flex-end;
    }
  }
  li {
    display: flex;
    padding: 0;
    @media (max-width: 872px) {
      flex-grow: 1;
    }
  }
  a {
    display: flex;
    padding: 1em;
    transition: calc(var(--ms)/2) linear;
    color: var(--action);
    &:hover {
      box-shadow: 0 -.1em 0 0 var(--lighter) inset;
    }
    &.router-link-active {
      color: var(--light);
      background: var(--accent);
    }
  }
}

nav {
  margin: 0;
  padding: 0;
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
}

// app menu

.app-menu {
  font-size: .875em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      padding: .5em 0;
    }
  }
  a {
    color: var(--action);
    &.router-link-exact-active {
      color: var(--medium-grey);
    }
  }
  header {
    padding: .5em 1em;
    color: var(--light);
    background: var(--medium-grey);
    margin: 0 -1em;
  }
  section li {
    padding: .25em 0 .25em 1.8em;
  }
}
