// Style Guide modifiers
.library-page-title {
  font-size: 1.25rem;
}

.module-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.module-label.module-label { // I know. I will fix later
  border-bottom: 3px solid var(--light);
  color: var(--medium-grey);
  display: inline-block;
  //font-family: var(--base-font-family);
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: .1ch;
  margin-bottom: 3rem;
  margin-left: 1rem;
  position: relative;
  padding-bottom: .125rem;
  text-transform: uppercase;
  
  &::before {
    color: var(--action);
    content: "#";
    display: block;
    grid-column: span 1;
    position: absolute;
    top: 0;
    left: -1rem;
    height: 100%;
    width: 1rem;
  }
}

.module {

  &--demo {

    & + .module--demo {
      margin-top: 2rem;
    }

    &--item {
      flex-grow: 1;
      
    }
    
    &--info {
      flex-grow: 0;
    }
    
    &--info {
      background: var(--snow);
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      padding: .5em 3.5em .5em .5em;
      > * {
        margin: 0;
        padding: .125rem;
        & + * {
          margin-top: 1rem;
        }
      }
      p {
        color: var(--grey);
        //font-family: var(--base-font-family);
        font-family: monospace;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0;
      }
    }
  }
}


.border-top--lighy-grey {
  border-top: 1px solid var(--light-grey);
}

.border-bottom--lighy-grey {
  border-bottom: 1px solid var(--light-grey);
}