.typeface {
  
  &--demo {
    font-family: var(--theme-font-family);
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    h2,h3,h4,h5,h6 {
      line-height: 1.4;
    }
    
    h1, .h1 {
      font-size: 3.25em;
      font-weight: 700;
      line-height: 1.1;
    }
    
    h2, .h2 {
      font-size: 2.75em;
      font-weight: 700;
    }
    
    h3, .h3 {
      font-size: 2.25em;
      font-weight: 700;
    }
    
    h4, .h4 {
      font-size: 1.75em;
      font-weight: 500;
    }
    
    h5, .h5 {
      font-size: 1.25em;
      font-weight: 500;
    }
    
    h6, .h6 {
      font-size: .875em;
      font-weight: 500;
    }
  
  }
  // intro
  &--intro {
    font-size: .75em;

    h2:nth-child(1) {
      font-weight: 300;
    }

    h2:nth-child(2) {
      font-weight: 500;
    }

    h2:nth-child(3) {
      font-weight: 700;
    }
  }
  // headlines
  &--headlines {

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 40px;
    }

    .demo-info {
      border-top: 1px solid var(--light-grey);
      margin-top: 3px;
      padding-top: 10px;
      display: flex;
      p:nth-child(2) {
        padding-right: 1rem;
        padding-left: 1rem;
      }
      p {
        color: var(--grey);
        font-family: var(--base-font-family);
        font-size: .875rem;
        font-weight: 500;
        margin-bottom: .125rem;
      }
    }

  }

}