.typography {

  &-demo {
    font-family: var(--primary-font-regular);
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;

    h1,.h1,
    h2,.h2,
    h3,.h3,
    h4,.h4,
    h5,.h5,
    h6,.h6 {
      font-family: var(--headline-font);
      margin-bottom: 0;
    }


    h1,.h1 {
      font-size: 3.25rem;
      font-weight: 700;
    }

    h2,.h2 {
      font-size: 2.75rem;
      font-weight: 700;
    }

    h3,.h3 {
      font-size: 2.25rem;
      font-weight: 700;
    }

    h4,.h4 {
      font-size: 1.75rem;
      font-weight: 500;
    }

    h5,.h5 {
      font-size: 1.25rem;
      font-weight: 500;
    }

    h6,.h6 {
      font-size: .875rem;
      font-weight: 500;
    }

    p a,
    u {
      text-decoration: underline;
      text-decoration-skip: ink;
    }

  }

}

.module-section {

  &--font-demo {

    font-size: .75em;

    p {
      margin-bottom: 0;
    }

    .module--demo--info {
      background: transparent;
      border-top: 1px solid var(--light-grey);
      display: block;
      margin-top: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      p {
        display: block;
        font-family: inherit;
        font-weight: inherit;
        font-size: 1.5rem;
        letter-spacing: .1ch;
        max-width: 34rem;
        word-break: break-all;
      }
      p:nth-child(2) {
        padding: 0;
      }
    }


  }

  &--primary-font {

    .module:nth-of-type(1),
    .module:nth-of-type(1) .h2 {
      font-family: var(--primary-font-light);
    }

    .module:nth-of-type(2),
    .module:nth-of-type(2) .h2 {
      font-family: var(--primary-font-regular);
    }

    .module:nth-of-type(3),
    .module:nth-of-type(3) .h2 {
      font-family: var(--primary-font-medium);
    }

  }

  &--headline-font {

    .module,
    .module .h2 {
      font-family: var(--headline-font);
    }
  }

  &--base-font {

    .module,
    .module .h2 {
      font-family: var(--base-font);
    }

    .module .h2 {
      font-size: 1rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }
  }

  &--serif-font {

    .module {
      font-family: var(--serif-font);
    }

    .module .h2 {
      font-family: var(--base-font);
      font-size: 1rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }
  }

}

.drop-caps {
  clear: both;

  &:first-letter {
    color: var(--red);
    float: left;
    font-size: 4rem;
    line-height: .8;
    padding-top: .05em;
    padding-right: .5rem;
    padding-left: .125rem;
  }

  &--serif {

    &::first-letter {
      font-family: var(--serif-font);
    }
  }
}

.text-highlight {
  background-color: var(--yellow);
  color: var(--dark);
  padding: .25em;
}

blockquote {
  background: var(--lighter);
  border-left: 4px solid var(--red-film);
  font-family: var(--serif-font);
  font-style: italic;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  padding: 1rem;
}
