:root {
  --default-ms: 350ms;

  --panel-width: 30em;

  --base: #257AA5;
  --snow: #fafafa;
  --dust: #f7f7f7;
  --cloud: #dadadc;
  --accent-text: #fff;

  --helper: #ff6300;

  --theme-font-family: 'Montserrat', var(--base-font-family);

  --base-bg: var(--lightest);
  --base-color: var(--dark);
  --base-link-color: var(--action);
  --base-radius: .2em;

  --header-bg: var(--dark);
  --header-fg: var(--light);

  --menu-bg: var(--lighter);
  --menu-fg: var(--dark);
}
