:root {
  --default-ms: 350ms;
  --panel-width: 30em;

  --base: #257AA5;
  --snow: #fafafa;
  --dust: #f7f7f7;
  --cloud: #dadadc;
  --accent-text: #fff;
  --helper: #ff6300;

  --base-bg: var(--lightest);
  --base-color: var(--dark);
  --base-link-color: var(--action);
  --base-radius: .2em;

  --header-bg: var(--dark);
  --header-fg: var(--light);

  --menu-bg: var(--lighter);
  --menu-fg: var(--dark);
}

.text {
  &--red {
    color: var(--red);
  }

  &--orange {
    color: var(--orange);
  }

  &--yellow {
    color: var(--yellow);
  }

  &--green {
    color: var(--green);
  }

  &--aqua {
    color: var(--aqua);
  }

  &--blue {
    color: var(--blue);
  }

  &--purple {
    color: var(--purple);
  }

  &--grey {
    color: var(--grey);
  }

  &--gray {
    color: var(--gray);
  }

  &--light {
    color: var(--light);
  }

  &--dark {
    color: var(--dark);
  }

  &--ghost {
    color: var(--ghost);
  }
}

.bg {

  &--darkest {
    background: var(--darkest);
  }

  &--darker {
    background: var(--darker);
  }

  &--dark {
    background: var(--dark);
  }

  &--dark-grey {
    background: var(--dark-grey);
  }

  &--grey {
    background: var(--grey);
  }

  &--medium-grey {
    background: var(--medium-grey);
  }

  &--light-grey {
    background: var(--light-grey);
  }

  &--lighter-grey {
    background: var(--lighter-grey);
  }

  &--light {
    background: var(--light);
  }

  &--lighter {
    background: var(--lighter);
  }

  &--lightest {
    background: var(--lightest);
  }

  &--gray {
    background: var(--gray);
  }

  &--red {
    background: var(--red);
  }

  &--red-film {
    background: var(--red-film);
  }

  &--orange {
    background: var(--orange);
  }

  &--orange-film {
    background: var(--orange-film);
  }

  &--yellow {
    background: var(--yellow);
  }

  &--yellow-film {
    background: var(--yellow-film);
  }

  &--green {
    background: var(--green);
  }

  &--green-film {
    background: var(--green-film);
  }

  &--aqua {
    background: var(--aqua);
  }

  &--aqua-film {
    background: var(--aqua-film);
  }

  &--blue {
    background: var(--blue);
  }

  &--blue-film {
    background: var(--blue-film);
  }

  &--blue-film-heavy {
    background: var(--blue-film-heavy);
  }

  &--purple {
    background: var(--purple);
  }

  &--purple-film {
    background: var(--purple-film);
  }

  &--accent {
    background: var(--accent);
  }

  &--action {
    background: var(--action);
  }

  &--active {
    background: var(--active);
  }

  &--focus {
    background: var(--focus);
  }

  &--success {
    background: var(--success);
  }

  &--danger {
    background: var(--danger);
  }

  &--warning {
    background: var(--warning);
  }

  &--alert {
    background: var(--alert);
  }

  &--royal {
    background: var(--royal);
  }  

  &--ghost {
    background: var(--ghost);
  }

}
