.sim-autofinder {
  flex: 1;
  position: relative;

  .sim-autofinder--search {
    display: flex;

    &--input[type="text"] {
      background: transparent;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      color: var(--light);
      flex: 1;
      font-weight: normal;
      margin: -.2em .2em;
      padding: .2em;

      &::placeholder {
        font-style: italic;
      }
    }
  }

  &--remove-item {
    cursor: pointer;
    line-height: 0;

    .sim-icontext {
      opacity: 0;
    }
  }

  &:hover {

    .sim-autofinder--remove-item  {
      .sim-icontext {
        opacity: .5;
      }
    }
  }

  &--visible-options {
  }

  &--options {
    color: var(--autofinder-items-fg, var(--dark));
    background: var(--autofinder-items-bg, var(--lighter));
    border-radius: .2rem;
    box-shadow: 0 0 0 1px var(--fog), 0 .3em 1em -.3em var(--shadow);
    max-height: 15em;
    overflow: auto;
    position: absolute;
    top: calc(100% + 1px);
    left: 1em;
    right: 1em;
    z-index: 1;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      padding: .5em;

      &.highlighted {
        background: var(--autofinder-highlight-bg, var(--shade));
        color: var(--autofinder-highlight-fg, var(--blue));
      }
    }
  }
}
