.sim-bubble {
  position: absolute;
  top: calc(var(--y) * 1px);
  z-index: 2;
  transition: 600ms ease-out;
  display: flex;
  flex-direction: column;

  &--content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: var(--dark);
    border-radius: .3em;
    color: var(--lighter);
    box-shadow: 0 .5em 2em -.3em rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    pointer-events: none;
    transition: top 600ms ease-out;
    border: 1em solid transparent;
  }

  &--left {
    left: calc(var(--x) * 1px);

    &::after {
      left: 1px;
      border-right-color: var(--dark);
      transform: translate(-100%, -50%);
    }
  }

  &--right {
    right: calc(var(--x) * 1px);

    &::after {
      left: 100%;
      border-left-color: var(--dark);
      transform: translate(-1px, -50%);
    }
  }

  &--dismiss {
    line-height: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--ms, var(--default-ms)) ease-out;
    transition-delay: calc(var(--ms, var(--default-ms)) / 2);
    transform: translate(50%, -50%);

    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 0;
    font-family: monospace;
    font-size: 2em;
    font-weight: 100;
    cursor: pointer;
    width: 1em;
    height: 1em;
    color: var(--bubble-x-fg, var(--lightest));
    background: var(--bubble-x-bg, var(--accent));
    border-radius: 50%;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: var(--bubble-x-fg-hover, var(--lightest));
      background: var(--bubble-x-bg-hover, var(--action));
    }
  }
}
