.sim-bulkcheck {
    padding: 0;
    background: transparent;
    color: var(--action);
    box-shadow: none;
    &:active,
    &:focus {
        box-shadow: none;
    }
    &.active {
      color: inherit;
    }
    .sim-icontext {
        opacity: .4;
        text-shadow: -1px 0 1px var(--shadow);
        position: relative;
        ~ * {
            opacity: .7;
            margin-left: -1.25em;
            + * {
                opacity: 1;
            }
        }
    }
}
