// ------------------------------------------
// calendar grid mechanics
// ------------------------------------------
.sim-calendar {
  --edge-color: var(--medium-grey);
  --edge: 1px 1px 0 0 var(--edge-color);
  --lines: 0 0 0 1px var(--edge-color);
  --picker-bg: var(--lighter);
  --picker-fg: var(--dark);
  font-family: sans-serif;
  font-size: calc(.5em + .5vmin);
  color: var(--fg);

  &--header {
    padding: 0 0 1em;
    display: flex;
    align-items: center;

    > * {
      flex: 1;
    }

    &--title {
      font-weight: 500;
      font-size: 1.5em;
      // text-align: center;
    }

    &--modes {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: .9em;
    }

    &--context {
      display: flex;
      align-items: center;
      // justify-content: center;
      font-size: 1.3em;
    }

    &--controls {
      justify-content: flex-end;
      user-select: none;
      display: flex;
      align-items: center;
      margin: -.5em 0;
      line-height: 1;
      text-transform: uppercase;
      border-radius: .3em;

      > * {
        padding: .5em 1em;
        border-radius: .3em;
        cursor: pointer;
        transition: 300ms ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &--body {
    position: relative;
    display: flex;
    flex-flow: row-reverse;
  }

  &--main {
    flex: 1;
    display: flex;
    position: relative;
  }

  &--aside {
    flex: none;
    display: flex;
    flex-direction: column;
    width: 18em;
    position: relative;
    z-index: 1;

    &--header {
      padding: 1em 0;
    }

    &--body {
      flex: 1;
      display: flex;
      padding: 1em;
      box-shadow: var(--lines);
      background: linear-gradient(135deg, var(--dark-grey), var(--medium-grey));
      border-radius: 1px;
      color: var(--lighter);
    }
  }

  &--filters {
    --ms-lodestar: 600ms;
    --selection-color: var(--green);

    .filter-molecule {
      + .filter-molecule {
        margin-top: 1.5em;
        // padding-top: 1.5em;
      }
    }

    .sim-datalist {
      .item-remover {
        opacity: 0;
      }

      li {
        padding: .5em 0 .5em .5em;
        border-radius: 1px;

        &:hover {
          .item-remover  {
            opacity: 1;
          }
        }
      }
    }
  }

  &--day-control-panel {

  }

  &--grid {
    flex: 1;
    display: flex;
    flex-direction: column;

    &--header {
      display: flex;

      > * {
        flex: 1;
        text-align: center;
      }

      &--day {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
      }

      &--date {
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
        margin: -.5em 0;

        &.is-today {
          margin-left: .5em;
          background: var(--medium-grey);
          color: var(--lighter);
        }
      }
    }

    &--body {
      flex: 1;
      display: flex;
      position: relative;
    }

    &--timelines {
      position: absolute;
      pointer-events: none;
      top: -.5em;
      left: -2.5em;
      width: 2.5em;
      bottom: -.5em;
      z-index: 15;
      display: flex;
      flex-direction: column;
      opacity: .5;

      li {
        flex: 1;
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &--days {
      flex: 1;
      display: flex;
      flex-flow: row wrap;
    }

    &--day {
      position: relative;
      flex: 0 0 14.285%;
      // height: 7vmax;
      min-height: 7em;
      padding: .5em;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      &--timelines {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        opacity: .25;

        li {
          flex: 1;
          position: relative;
          padding: 0;
          box-shadow: 0 -1px 0 0;

          &:last-of-type {
            pointer-events: none;
            flex: none;
            height: 1px;
            margin-top: -1px;
          }

          &.is-noon {
            box-shadow: 0 -1px 0 0, 0 1px 0 0 inset;
          }
        }
      }
    }

    &--before {
      position: relative;
      flex: 0 0 calc(14.285% * var(--offset, 0)); // 0 = sunday, 6 = saturday
    }

    &--after {
      position: relative;
      flex: 1;
    }

    &--date {
      pointer-events: none;
      width: 1.5em;
      height: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .2em;
    }
  }

  .sim-calendar-button {
    padding: .5em 1em;
    margin: 0 .5em;
    border-radius: .3em;
    cursor: pointer;
    transition: 300ms ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  // borders & colors
  &--header--controls {
    background: var(--fg);

    > * {
      color: var(--action);

      &:hover {
        color: #fff;
        background: var(--action);
      }
    }
  }

  .sim-calendar-button {
    background: var(--light);

    &.active {
      background: var(--action);
      color: var(--lighter);
    }
  }

  &--grid {
    &--day {
      box-shadow: var(--lines);

      &--timelines li {
        &.is-nighttime {
          background: rgba(0,0,0, .2);
        }

        &::after {
          background: rgba(0,0,0,.2);
        }

        &.is-noon::after {
          background: rgba(0,0,0,.5);
        }
      }
    }

    &--before,
    &--after {
      box-shadow: var(--lines);
      background: var(--picker-bg);
      background-image: repeating-linear-gradient(-45deg, transparent 0px, transparent 5px, var(--light) 5px, var(--light) 7px);
    }

    &--date {
      color: var(--medium-grey);
    }

    &--header {
      color: var(--medium-grey);
    }
  }

  // calendar day states
  &--grid--days {
    user-select: none;

    .is-weekday {
      background-color: #fff;

      &:hover {
        background-color: #fcf9e9;
      }
    }

    .is-today {
      .sim-calendar--grid--date {
        background: var(--medium-grey);
        color: #fff;
      }
    }

    .is-before-today {
      // background-image: repeating-linear-gradient(-45deg, transparent 0px, transparent 5px, var(--lighter) 5px, var(--lighter) 7px);
      background-color: var(--lighter);
      filter: grayscale(.5);

      .sim-calendar--grid--date {
        color: #ddd;
      }
    }

    .is-weekend {
      background-color: var(--light); //#e9f9fc;

      &:hover {
        background-color: #f3f0e1; //#e7f3e7;
      }
    }

    .is-selected {
      z-index: 2;
      box-shadow: 0 0 0 3px var(--action), 0 0 1em -.3em;
      border-radius: .2em;
    }
  }

  &.is-week-view {
    .sim-calendar--grid {
      &--before,
      &--after {
        display: none;
      }

      &--body {
        margin-left: 2.5em;
      }

      &--days {
        flex-wrap: nowrap;
      }

      &--day {
        flex: 1;
        height: 48em;
        max-height: 70vh;
      }
    }
  }
}
