// ------------------------------------------
// calendar grid mechanics
// ------------------------------------------
.sim-calendar {
  --edge-color: var(--medium-grey);
  --edge: 1px 1px 0 0 var(--edge-color);
  // --lines: 0 0 0 1px var(--edge-color);
  --lines: -1px -1px 0px 0px var(--edge-color), -1px -1px 0px 0px var(--edge-color) inset;
  --picker-bg: var(--lighter);
  --picker-fg: var(--dark);
  font-family: sans-serif;
  font-size: calc(.5em + .3vmin);
  color: var(--fg);

  &--header {
    padding: 0 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
      display: flex;
      font-size: 1.2em;
      align-items: center;
      white-space: nowrap;
    }

    &--mode {
      justify-content: center;
    }

    &--controls {
      user-select: none;
      display: flex;
      align-items: center;
      margin: -.5em 0;
      line-height: 1;
      text-transform: uppercase;
      border-radius: .3em;
      font-weight: 600;

      &--months {
        min-width: 20%;
      }

      &--days {
      }

      > * {
        padding: .5em;
        border-radius: 3em;
        cursor: pointer;
        transition: 300ms ease-in-out;
        text-align: center;

        &:nth-child(2) {
          flex: 1;
        }

        &:hover {
          // padding: .7em .5em;
          // margin: -.7em 0;
          // transform: scale(1, 1.2);
        }
      }
    }
  }

  &--body {
    position: relative;
    display: flex;
    flex-flow: row-reverse;
  }

  &--main {
    flex: 1;
    display: flex;
    position: relative;
  }

  &--aside {
    flex: none;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    transition: width 200ms ease-in-out;

    &--header {
      padding: 1em 0;
    }

    &--body {
      flex: 1;
      display: flex;
      padding: 1em;
      box-shadow: var(--lines);
      background-image: linear-gradient(135deg, var(--shade), var(--mist));
      background-color: var(--dark);
      border-radius: 1px;
      color: var(--lightest);
      transition: 200ms linear;

      > div {
      }
    }
  }

  &--filters {
    --ms-lodestar: 600ms;
    --selection-color: var(--green);

    &--disabled {

      .filter-molecule {
        opacity: .5;
        pointer-events: none;
      }

      .sim-calendar--aside--body {
        background-color: var(--cloud);
        color: var(--grey);
      }

      .sim-datalist {
        li {
          transition: none;
        }
      }
    }

    .filter-molecule {
      &--heading {
        font-weight: normal;
        margin: 0 0 .5em 0;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }

      + .filter-molecule {
        margin-top: 1.5em;
        // padding-top: 1.5em;
      }
    }

    .sim-datalist {
      .item-remover {
        opacity: 0;
      }

      li {
        padding: .35em 0 .35em .5em;
        border-radius: 1px;
        transition-delay: 0ms;
        align-items: center;

        &:hover {
          .item-remover  {
            opacity: 1;
          }
        }
      }
    }
  }

  &--day-control-panel {

  }

  &--grid {
    flex: 1;
    display: flex;
    flex-direction: column;

    &--header {
      display: flex;

      > * {
        flex: 1;
        text-align: center;
      }

      &--day {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
      }

      &--date {
        width: 2em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1em;
        margin: -.5em 0;

        &.is-today {
          margin-left: .5em;
          background: var(--medium-grey);
          color: var(--lighter);
        }
      }
    }

    &--body {
      flex: 1;
      display: flex;
      position: relative;
    }

    &--timelines {
      position: absolute;
      pointer-events: none;
      top: -.5em;
      left: -2.5em;
      width: 2.5em;
      bottom: -.5em;
      z-index: 15;
      display: flex;
      flex-direction: column;
      opacity: .5;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        flex: 1;
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &--days {
      flex: 1;
      display: flex;
      flex-flow: row wrap;
    }

    &--day {
      position: relative;
      flex: 0 0 14.285%;
      min-height: 10vmin;
      padding: 0 1px 1px 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      transition: min-height 200ms ease-out;

      &--timelines {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        opacity: .25;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          flex: 1;
          position: relative;
          padding: 0;
          box-shadow: 0 -1px 0 0;

          &:last-of-type {
            pointer-events: none;
            flex: none;
            height: 1px;
            margin-top: -1px;
          }

          &.is-noon {
            box-shadow: 0 -1px 0 0, 0 1px 0 0 inset;
          }
        }

        .sim-timeline--time {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(calc(-100% - .5em), -50%);
          // background: var(--darkest);
          // color: var(--light);
          width: 1.5em;
          height: 1.5em;
          // border-radius: .3em;
          display: flex;
          align-items: center;
          justify-content: center;
          &.sim-timeline--icon--midnight {
            display: none;
          }
        }
      }
    }

    &--before {
      position: relative;
      flex: 0 0 calc(14.285% * var(--offset, 0)); // 0 = sunday, 6 = saturday
    }

    &--after {
      position: relative;
      flex: 1;
    }

    &--date {
      pointer-events: none;
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // borders & colors
  &--header--controls {
    background: var(--fg);

    > * {
      color: var(--action);

      &:hover {
        // color: #fff;
        // background: var(--action);
      }
    }
  }

  &--grid {
    &--day {
      box-shadow: var(--lines);

      &:hover {
        z-index: 3;
      }

      &--timelines li {
        &.is-nighttime {
          background: rgba(0,0,0, .2);
        }

        &::after {
          background: rgba(0,0,0,.2);
        }

        &.is-noon::after {
          background: rgba(0,0,0,.5);
        }
      }
    }

    &--before,
    &--after {
      box-shadow: var(--lines);
      background: var(--picker-bg);
      background-image: repeating-linear-gradient(-45deg, transparent 0px, transparent 5px, var(--light) 5px, var(--light) 7px);
    }

    &--date {
      color: var(--medium-grey);
    }

    &--header {
      color: var(--medium-grey);
    }
  }

  // calendar day states
  &--grid--days {
    user-select: none;

    .is-weekday {
      background-color: #fff;

      &:hover:not(.is-selected) {
        background-color: #fcf9e9;
      }
    }

    .is-today {
      .sim-calendar--grid--date {
        background: var(--medium-grey);
        color: #fff;
      }
    }

    .is-before-today {
      // background-image: repeating-linear-gradient(-45deg, transparent 0px, transparent 5px, var(--lighter) 5px, var(--lighter) 7px);
      background-color: var(--lighter);
      filter: grayscale(.5);

      .sim-calendar--grid--date {
        color: #ddd;
      }
    }

    .is-weekend {
      background-color: var(--light); //#e9f9fc;

      &:hover:not(.is-selected) {
        background-color: #f3f0e1; //#e7f3e7;
      }
    }

    .is-selected {
      z-index: 2;
      background-color: var(--blue-film-light);
    }
  }

  &.is-week-view {
    .sim-calendar--grid {
      &--before,
      &--after {
        display: none;
      }

      &--body {
        margin-left: 2.5em;
      }

      &--days {
        flex-wrap: nowrap;
      }

      &--day {
        flex: 1;
        height: 48em;
        max-height: 70vh;
      }
    }
  }

  &.is-expanded {
    .sim-calendar--grid--day {
      min-height: 4vmin;

      &.is-in-active-week {
        min-height: 45vmin;
        max-height: 45em;

        .sim-timeblock--info {
          opacity: 1;
        }
      }
    }
  }

  .sim-calendar--grid--day .sim-timeblock--info {
    opacity: 0;
  }
}
