.calendar-density-blocks--outer {
  flex: 1;
  position: relative;

  .calendar-density-block {
    display: flex;
    justify-content: flex-end;

    &:hover {
      box-shadow: 0 0 0 .2em var(--timeblock-color);
      z-index: 2;
    }

    &.active {
      box-shadow: 0 0 0 .2em var(--aqua);
    }

    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      background: var(--green);
      width: calc(300% + 3em);
      top: 0;
      bottom: 0;
      opacity: .35;
    }
  }
}

.local--day {
  position: relative;
  flex: 1;
  display: flex;

  .calendar-density-block {
    // --timeblock-color: var(--green);
    opacity: .5;
    cursor: pointer;
  }

  &--availability-blocks,
  &--event-blocks,
  &--time-blocks {
    pointer-events: none;
    position: relative;
    flex: 1;

    .sim-timeblock {
      pointer-events: auto;
    }
  }

  // &--time-blocks {
  //   .sim-timeblock {
  //     --timeblock-color: var(--blue);
  //   }
  //   .sim-timeblock--pending-event {
  //     --timeblock-color: var(--orange);
  //   }
  // }
  //
  // &--event-blocks {
  //   .sim-timeblock {
  //     --timeblock-color: var(--aqua);
  //   }
  // }
  //
  // &--availability-blocks {
  //   .sim-timeblock {
  //     --timeblock-color: var(--green);
  //   }
  // }
}

.is-month-view {
  .local--day {
    > * + * {
      margin: 0 0 0 .5em;
    }
  }
}

.is-week-view {
  .local--day {
    &--event-blocks {
      flex: 1;
    }
    &--time-blocks {
      flex: 6;
      margin-left: 1em;
    }
  }
}

.is-coordinator-context {
  .local--day {
    &--time-blocks {
      display: flex;
      justify-content: space-between;
    }
    &--availability-blocks {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .sim-timeblock {
        pointer-events: none;
        border-radius: 0;
        opacity: .5;
      }
    }
  }
}
