.sim-datalist {
  li {
    padding: .5em;
    &:hover {
      background: var(--datalist-item-highlight, var(--default-datalist-item-highlight));
    }
    + li {
      border-top: 1px solid var(--datalist-border-color, var(--default-datalist-border-color));
    }
  }
  + .sim-datalist {
    margin-top: 2em;
  }
}
