.sim-filter {
    --active-color: var(--filter-active-color, var(--green, #9ccc66));
  + .sim-filter {
    margin-top: 1em;
  }
  &__header {
    padding: 0;
    font-weight: 200;
    display: block;
    border: none;
    white-space: nowrap;
  }
  .sim-selection {
    font-size: .8em;
    input:checked {
      --selection-color: var(--active-color);
    }
  }
  &.active .sim-filter__header {
    color: var(--active-color);
  }
}
