.sim-icontext {
  display: inline-flex;
  align-items: var(--icontext-alignment, center);
  &__circle .sim-icon,
  &__round .sim-icon,
  &__square .sim-icon {
    width: 1.5em;
    height: 1.5em;
    margin: -0.75em 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 .125em;
  }
  &__round .sim-icon {
    border-radius: .25em;
  }
  &__circle .sim-icon {
    border-radius: .75em;
  }
  .sim-icon {
    flex: 0 0 auto;
  }
  * + span {
    margin-left: .5em;
  }
}

// opinions
.sim-icontext {
}
