.sim-loader {
  display: block;
  position: absolute;
  z-index: 10;
  top: 3em;
  left: 50%;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  border: .15em solid var(--green);
  border-left-color: transparent;
  will-change: transform;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: loader var(--ms-loader, var(--ms, --default-ms)) linear infinite;
}

@keyframes loader {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
