.sim-overlay {
  color: var(--overlay-fg);
  background: var(--overlay-bg);
  max-width: var(--footprint);
  margin: var(--footprint-margin);

  // overlay parts
  &__dismiss {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-family: monospace;
    font-size: 3em;
    font-weight: 100;
    width: 1em;
    height: 1em;
    color: var(--accent-text);
    background: var(--accent);
    border-radius: 50%;
    // box-shadow: 0 0.25em 1em -0.15em rgba(#000, .6);
  }
  section {
    padding: 2em 2em 0 2em;
    &.left {
      flex: 1;
      padding-left: 1em;
      background: var(--light) linear-gradient(90deg, #fff, var(--light));
    }
    &.right {
      flex: 1;
      padding-right: 1em;
      background: #fff;
    }
  }
  > header,
  > footer {
    flex: none;
    padding: 1em;
    background: #fff;
  }
}
