.sim-slide-deck {
  flex: 1;
  display: flex;
  flex-direction: column;

  &--slides {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  &--slide {
    flex: 0 0 100%;
    padding: 1em;
    overflow: auto;
    will-change: transform;
    transform: translateX(calc(var(--step, 0) * -100%));
    transition: transform 300ms ease-out;
  }

  > footer {
    flex: none;
    border-top: 1px solid var(--darker);
    text-align: right;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    // background: var(--mist);
    color: var(--lighter);

    button {
      // border-radius: 0;
    }
  }

  // buttons and input
  button {
    font-size: inherit;
    font-family: inherit;
    border: 0;
    border-radius: .2em;
    padding: .65em 1.3em;
    background: var(--line);
    color: var(--light);
    opacity: 1;
    outline: none;
    box-shadow: none;
    cursor: pointer;

    &[disabled] {
      opacity: .3;
      cursor: not-allowed;

      &.cancel {
        color: inherit;
      }
    }

    &.primary {
      &:not([disabled]) {
        background: var(--action);
      }
    }

    &.cancel {
      background: var(--mist);
    }
  }
}
