.sim-slide {

  &--header {
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--dark);
    padding-bottom: 1em;
  }

  &--title {
    margin: 0;

    + .sim-slide--subtitle {
      margin-top: .5em;
    }
  }

  &--subtitle {
  }

  input {
    color: var(--dark);
  }
}
