.sim-slide {
  // background: var(--dark);

  &--header {
    // position: sticky;
    // top: 0;
    // z-index: 1;
    padding-bottom: 1em;
    line-height: 1.4;
  }

  &--title {
    margin: 0;
    font-size: 1.3em;
    font-weight: 300;
  }

  &--subtitle {
    font-weight: 500;
    margin: 0;
    color: var(--green);
  }


  input {
    color: var(--dark);
  }

}

.sim-slide--with-timepicker {
  display: flex;
  flex-direction: column;

  .sim-slide {
    &--header {
      flex: none;
    }

    &--intro {
      flex: none;
    }

    &--content {
      flex: 1;
      display: flex;
      flex-direction: column;
      p + * {
        padding-top: 2em;
      }
    }
  }
}
