.sim-switch {
  input {
    background: var(--shadow);
    &::before {
      --switch-color: var(--shadow, var(--default-switch-color));
      background: var(--light);
    }
    &:checked {
      background: var(--action);
      &::before {
        --switch-color: var(--action, var(--default-switch-color-active));
      }
    }
  }
}
