.sim-timeblock {
  --color: var(--timeblock-color, var(--action));
  background: var(--color);
  opacity: 1;
  border-radius: .2em;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: var(--timeblock-cursor, move);

  // states
  &.is-display-only {
    cursor: inherit;
  }

  &.is-moving,
  &.is-stretching {
    opacity: .7;
    transition: all 60ms linear;

    .sim-timeblock--info--time {
      display: block;
    }
  }

  &.is-moving {
    box-shadow: 0 .3em 1em -.2em var(--shadow);
  }

  &.is-stretching {
    &--up,
    &--down {
      --timeblock-cursor: row-resize;
      --handle-cursor: row-resize;
    }
  }

  &:not(.is-moving) {
    .sim-timeblock--handle {
      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    z-index: 2;

    &:not(.is-moving):not(.is-stretching) {
      .sim-timeblock--remover {
        opacity: 1;
        transform: translate(var(--remover-x-end), var(--remover-y-end));
        transition-delay: 600ms;
      }
    }
  }

  // parts
  &--info {
    pointer-events: none;
    transition: opacity 300ms linear;
    padding: .3em;
    border-radius: .2em;
    text-align: center;

    // &--hours {}
    &--time {
      display: none;
    }
  }

  &--mover {
    position: absolute;
    top: 0;
    left: 4px;
    right: 4px;
    bottom: 0;
  }

  &--remover {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: 200ms linear 200ms;
  }

  &--handle {
    position: absolute;
    opacity: 0;
    transition: all 200ms linear;
    background: rgba(0, 0, 0, .2);
    cursor: var(--handle-cursor);

    &--x {
      top: 50%;
      width: 2.5em;
      height: 2.5em;
    }

    &--right {
      left: calc(100% - 3px);
      transform: translate(0, -50%);
      border-left: 4px solid var(--accent-dark);
      border-radius: 0 .3em .3em 0;
    }

    &--left {
      left: 3px;
      transform: translate(-100%, -50%);
      border-right: 4px solid var(--accent-dark);
      border-radius: .3em 0 0 .3em;
    }

    &--y {
      left: 50%;
      width: 100%;
      height: 1.5em;
    }

    &--up {
      top: 3px;
      transform: translate(-50%, -100%);
      border-right: 4px solid var(--accent-dark);
      border-radius: .3em .3em 0 0;
    }

    &--down {
      top: calc(100% - 3px);
      transform: translate(-50%, 0%);
      border-right: 4px solid var(--accent-dark);
      border-radius: 0 0 .3em .3em;
    }
  }

  // contexts
  &--x {
    --remover-x-end: 50%;
    --remover-y-end: -50%;
    top: 50%;
    left: calc(var(--start, 8) * var(--segment-size, 4.1667) * 1%);
    width: calc(var(--duration, 8) * var(--segment-size, 4.1667) * 1%);
    height: 2.5em;
    transform: translateY(-50%);

    &.is-moving {
      transform: translateY(calc(-50% - .2em));
    }

    &.is-display-only {
      pointer-events: none;
    }

    .sim-timeblock--info {
      background: var(--picker-bg);
      transform: translateY(-2.25em);
      white-space: nowrap;
    }

    .sim-timeblock--remover {
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      color: var(--lightest);
      z-index: 1;
      background: var(--color);
      border-radius: 1em;
      box-shadow: 0 .2em 1.3em -.3em var(--shadow);
    }
  }

  &--y {
    --remover-x-end: 50%;
    --remover-y-end: -50%;
    top: calc(var(--start) * var(--segment-size, 4.1667) * 1%);
    left: 0;
    width: 100%;
    height: calc(var(--duration) * var(--segment-size, 4.1667) * 1%);

    &.is-moving {
      transform: translateY(-.1em);
    }

    &.is-display-only {
      pointer-events: none;
    }

    .sim-timeblock--info {
      color: var(--picker-bg);
      background: var(--color);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .sim-timeblock--remover {
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      color: var(--lightest);
      z-index: 1;
      background: var(--color);
      border-radius: 1em;
      box-shadow: 0 .2em 1.3em -.3em var(--shadow);
    }
  }
}

// block themes
.sim-timeblock--theme {
  &--default {
    --timeblock-color: var(--blue) radial-gradient(ellipse at 0% -100%, var(--aqua-film) 0%, var(--blue) 90%);
  }

  &--pending-event {
    --timeblock-color: var(--orange) radial-gradient(ellipse at 0% -100%, var(--yellow-film) 0%, var(--orange) 90%);
  }

  &--event {
    --timeblock-color: var(--aqua) radial-gradient(ellipse at 0% -100%, var(--aqua-film) 0%, var(--aqua) 90%);
  }

  &--available {
    --timeblock-color: var(--green)  radial-gradient(ellipse at 0% -100%, var(--yellow-film) 0%, var(--green) 90%);
  }
  &--empty {
    --timeblock-color: var(--shade);
  }
}




// outset states affect blocks
.is-moving {
  --picker-cursor: move; // -webkit-grabbing;
  --timeblock-cursor: move; // -webkit-grabbing;
  --handle-cursor: move; // -webkit-grabbing;

  .sim-timeblock:not(.is-moving) {
    .sim-timeblock--time {
      opacity: 0;
    }
  }
}

.is-stretching {
  --picker-cursor: col-resize;
  --timeblock-cursor: col-resize;
  --handle-cursor: col-resize;

  .sim-timeblock:not(.is-stretching) {
    .sim-timeblock--time {
      opacity: 0;
    }
  }
}

// context overrides
.sim-timepicker--y {
  .sim-timeblock {
    --timeblock-color: var(--blue) radial-gradient(ellipse at 0% -100%, var(--aqua-film) 0%, var(--blue) 90%);
    box-shadow: 0 .1em 1em -.3em var(--shadow);

    &--info {
      top: 0;
      left: 100%;
      width: auto;
      white-space: nowrap;
      background: transparent;
      text-align: left;
      padding: 0 0 0 .5em;
      transform: none;

      &--hours {
        font-size: 1.3em;
        font-weight: bold;
      }

      &--time {
        display: block;
      }
    }
  }
}
