@keyframes timeblockTooltips {
  to {
    opacity: 1;
    transform: translate(-50%, -100%) scale(1);
  }
}

.sim-timeblock {
  --color: var(--timeblock-color, var(--dark));
  --tooltip-shift-x: -50%;
  --tooltip-dink-x: 50%;
  --segment-size: 4.1667;
  background: var(--color);
  opacity: 1;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: var(--timeblock-cursor, default);

  // states
  &.is-moveable {
    --timeblock-cursor: move;
  }

  &.is-display-only {
    cursor: inherit;
  }

  &.is-moving,
  &.is-stretching {
    transition: 50ms linear;

    .sim-timeblock--info--time {
      display: block;
    }
  }

  &.is-moving {
    box-shadow: 0 .3em 1em -.2em var(--shadow);
  }

  &.is-stretching {
    &--up,
    &--down {
      --timeblock-cursor: row-resize;
      --handle-cursor: row-resize;
    }

    &--left,
    &--right {
      --timeblock-cursor: col-resize;
      --handle-cursor: col-resize;
    }
  }

  &:not(.is-moving) {
    .sim-timeblock--handle {
      &:hover {
        opacity: 1;
      }
    }
  }

  &:hover {
    z-index: 2;

    &:not(.is-moving):not(.is-stretching) {
      .sim-timeblock--remover {
        opacity: 1;
        transform: translate(var(--remover-x-end), var(--remover-y-end));
        transition-delay: 600ms;
      }

      .sim-timeblock--tooltip {
        opacity: .85;
        transform: translate(var(--tooltip-shift-x, -50%), calc(-100% - .5em)) scale(1);
        transition-delay: var(--default-ms, 300ms);
      }
    }
  }

  // parts
  &--info {
    pointer-events: none;
    transition: opacity 300ms linear;
    padding: 0;
    text-align: center;
    font-size: .9em;
    width: 100%;
    white-space: nowrap;

    // &--hours {}
    &--time {
      display: none;
    }
  }

  &--mover {
    position: absolute;
    top: 0;
    left: 4px;
    right: 4px;
    bottom: 0;
  }

  &--remover {
    position: absolute;
    font-size: 80%;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: 200ms linear 200ms;
  }

  &--handle {
    position: absolute;
    opacity: 0;
    transition: 200ms linear;
    background: var(--dusk);
    cursor: var(--handle-cursor);

    &--x {
      top: 50%;
      width: 2.5em;
      height: 2.5em;
    }

    &--right {
      left: calc(100% - 3px);
      transform: translate(0, -50%);
      border-left: 4px solid var(--accent-dark);
      border-radius: 0 .3em .3em 0;
    }

    &--left {
      left: 3px;
      transform: translate(-100%, -50%);
      border-right: 4px solid var(--accent-dark);
      border-radius: .3em 0 0 .3em;
    }

    &--y {
      left: 50%;
      width: 100%;
      height: 1.5em;
    }

    &--up {
      top: 3px;
      transform: translate(-50%, -100%);
      border-right: 4px solid var(--accent-dark);
      border-radius: .3em .3em 0 0;
    }

    &--down {
      top: calc(100% - 3px);
      transform: translate(-50%, 0%);
      border-right: 4px solid var(--accent-dark);
      border-radius: 0 0 .3em .3em;
    }
  }

  &--icon {
    opacity: .5;
    line-height: 0;
    svg {
      width: 1.3em;
      height: 1.3em;
    }
  }

  &--tooltip {
    // display: none;
    display: flex;
    align-items: center;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 50%;
    color: var(--lighter);
    background: var(--dark);
    border-radius: .3em;
    padding: .65em;
    white-space: nowrap;
    transform: translate(var(--tooltip-shift-x, -50%), calc(0% - .5em)) scale(.5);
    transition: calc(var(--ms, var(--default-ms)) / 2) ease-out 0ms;
    transform-origin: 50% 50%;
    &::after {
      content: '';
      position: absolute;
      left: var(--tooltip-dink-x, 50%);
      top: 100%;
      border: .5em solid transparent;
      border-top-color: var(--dark);
      transform: translate(-50%, -1px);
    }

    &--icon {
      opacity: 1;
      margin-right: .5em;
    }
  }

  > .sim-timeblock--icon {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, .5em);
  }

  // contexts
  &--x {
    --remover-x-end: 50%;
    --remover-y-end: -50%;
    top: 50%;
    left: calc(var(--start, 8) * var(--segment-size) * 1%);
    width: calc(var(--duration, 8) * var(--segment-size) * 1%);
    height: 2.5em;
    transform: translateY(-50%);

    &.is-moving {
      transform: translateY(calc(-50% - .2em));
    }

    // &.is-display-only {
    //   pointer-events: none;
    // }

    .sim-timeblock--info {
      // background: var(--picker-bg);
      transform: translateY(-2.25em);
      white-space: nowrap;
    }

    .sim-timeblock--remover {
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      color: var(--lightest);
      z-index: 1;
      background: var(--color);
      border-radius: 1em;
      box-shadow: 0 .2em 1.3em -.3em var(--shadow);
    }
  }

  &--y {
    --remover-x-end: 50%;
    --remover-y-end: -50%;
    top: calc(var(--start) * var(--segment-size) * 1%);
    right: 0;
    width: 100%;
    height: calc(var(--duration) * var(--segment-size) * 1%);

    &.is-moving {
      transform: translateY(-.1em);
    }

    // &.is-display-only {
    //   pointer-events: none;
    // }

    .sim-timeblock--info {
      color: var(--picker-bg);
      // background: var(--color);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .sim-timeblock--remover {
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      color: var(--lightest);
      z-index: 1;
      background: var(--color);
      border-radius: 1em;
      box-shadow: 0 .2em 1.3em -.3em var(--shadow);
    }
  }
}

// block themes
.sim-timeblock--theme {
  &--default,
  &--available,
  &--blue {
    --timeblock-color: var(--aqua) radial-gradient(ellipse at 0% -100%, var(--aqua-film) 0%, var(--blue) 90%);
    border-radius: .2em;
  }

  &--aggregate,
  &--alt-blue {
    --timeblock-color: var(--blue-lighter); // radial-gradient(ellipse at 0% -100%, var(--blue-film) 0%, var(--blue-lighter) 90%);
    cursor: pointer;

    &:hover {
      //mix-blend-mode: color-burn;
      // --timeblock-color: var(--orange-film) radial-gradient(ellipse at 0% -100%, var(--yellow-film) 0%, var(--orange) 90%);
      // box-shadow: 0 0 0 1px var(--dusk) inset, 0 .3em .5em -.3em var(--shadow);
    }
  }

  &--specific,
  &--alt-green {
    --timeblock-color: var(--green-lighter); // radial-gradient(ellipse at 0% -100%, var(--green-film) 0%, var(--green-lighter) 90%);
    cursor: pointer;
  }

  &--green {
    --timeblock-color: var(--green) radial-gradient(ellipse at 0% -100%, var(--yellow-film) 0%, var(--green) 90%);
    cursor: pointer;
  }

  &--pending-event,
  &--orange {
    --timeblock-color: var(--orange); // linear-gradient(180deg, var(--orange) 50%, var(--yellow-film) 100%);
    box-shadow: 0 .4em 1em -.4em;
    border-radius: .3em;
  }

  &--duration,
  &--alt-orange {
    --timeblock-color: var(--orange) radial-gradient(ellipse at 0% -100%, var(--yellow-film) 0%, var(--orange-lighter) 90%);
  }

  &--event,
  &--purple {
    --timeblock-color: var(--aqua) radial-gradient(ellipse at 0% -100%, var(--red-film) 0%, var(--purple) 90%);
  }

  &--empty,
  &--none,
  &--grey,
  &--gray {
    --timeblock-color: var(--mist) radial-gradient(ellipse at 0% -100%, var(--dust) 0%, var(--shade) 90%);
    box-shadow: 0 0 0 1px var(--shade) inset;
    max-width: 2.5em;

    .sim-timeblock--icon {
      opacity: 1;
    }
  }

  &--null,
  &--red {
    --timeblock-color: var(--red-film-lighter) repeating-linear-gradient(45deg, transparent 0px, transparent 5px, var(--red-film-light) 5px, var(--red-film-light) 7px);
    box-shadow: 0 0 0 1px var(--red-film-light) inset;
    max-width: 2.5em;

    .sim-timeblock--icon {
      opacity: 1;
    }
  }
}




// outset states affect blocks
.is-moving {
  --picker-cursor: move; // -webkit-grabbing;
  --timeblock-cursor: move; // -webkit-grabbing;
  --handle-cursor: move; // -webkit-grabbing;

  .sim-timeblock:not(.is-moving) {
    .sim-timeblock--time {
      opacity: 0;
    }
  }
}

.is-stretching {
  --picker-cursor: row-resize;
  --timeblock-cursor: row-resize;
  --handle-cursor: row-resize;

  .sim-timeblock:not(.is-stretching) {
    .sim-timeblock--time {
      opacity: 0;
    }
  }
}

// context overrides
.sim-timepicker--y {
  .sim-timeblock {
    // --timeblock-color: var(--aqua) radial-gradient(ellipse at 0% -100%, var(--aqua-film) 0%, var(--blue) 90%);
    box-shadow: 0 .1em 1em -.3em var(--twilight);

    &.is-moving,
    &.is-stretching {
      opacity: .85;
    }

    .sim-timeblock--info {
      position: absolute;
      text-align: left;
      left: 100%;
      width: auto;
      top: 50%;
      transform: translate(0%, -50%);
      padding: .5em;

      &--hours {
        font-weight: bold;
        font-size: 1.3em;
      }

      &--time {
        display: block;
        position: relative;
        left: 0;
        top: 100%;
        transform: none;
        padding: 0;
        background: transparent;
      }
    }
  }
}

.sim-calendar-day .sim-timeblock--y {
  &.is-moving,
  &.is-stretching {
    .sim-timeblock--info--time {
      display: block;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translate(0%, -50%);
      padding: .5em;
      background: var(--shadow);
    }
  }
}

// timeblock info hud for far-right calendar days
.day-5,
.day-6 {
  .sim-timeblock--y {
    &.is-moving,
    &.is-stretching {
      .sim-timeblock--info--time {
        left: auto;
        right: 100%;
      }
    }
  }
}

// tooltip override for timeblocks in a far-right calendar day
.day-6 {
  .sim-timeblock {
    --tooltip-shift-x: -85%;
    --tooltip-dink-x: 85%;
    &--tooltip {
      transform-origin: 85% 50%;
    }
  }
}
