.sim-timepicker {
  --picker-cursor: cell;
  --timeblock-cursor: move; // -webkit-grab;
  --handle-cursor: col-resize;
  flex: 1;
  display: block;
  justify-content: center;
  padding: 3em 2em;
  box-shadow: var(--lines, 0 0 0 1px);
  &--display-date {
    font-weight: 300;
    font-size: 1.5em;
  }
  &--controls {
    margin: -1em -1em 1em -1em;
    padding: 0 0 1.5em 0;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    > * {
      text-align: center;
      &:nth-child(1) {
        flex: 1;
      }
      &:nth-child(2) {
        flex: 5;
        &:hover {
          user-select: auto;
        }
      }
      &:nth-child(3) {
        flex: 1;
      }
    }
    .fa {
      color: var(--action);
      cursor: pointer;
      transition: 200ms ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &--remove-blocks {
    font-size: .65em;
  }
  &--inner {
    flex: 1;
    position: relative;
    display: flex;
  }
  &--time {
  }
  ul {
    flex: 1;
    user-select: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: var(--picker-cursor);
  }
  li {
    flex: 1;
    width: 1.5em; // flex value overrides this
    height: 2em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding: 0;
    opacity: .5;
    box-shadow: -1px 0 0 0, 1px 0 0 0;
    &.is-daytime {
      background: rgba(255,255,255,.15);
    }
    &.is-nighttime {
      background: rgba(0,0,0,.15);
    }
    &::after {
      display: block;
      content: '';
      width: 2px;
      height: 1em;
      margin-left: -1px;
      background: currentColor;
      opacity: .5;
    }
    div {
      pointer-events: none;
      position: absolute;
      width: 2px;
      height: 1em;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, calc(100% + 1em));
      white-space: nowrap;
    }
    &:first-of-type {
      box-shadow: -1px 0 0 0, 1px 0 0 0 inset, 1px 0 0 0;
    }
    &:last-of-type {
      box-shadow: -1px 0 0 0;
      pointer-events: none;
      flex: none;
      width: 1px;
      margin-right: -1px;
      &::after {
        display: none;
      }
    }
  }
}
