.sim-timepicker {
  --picker-cursor: cell;
  --timeblock-cursor: move; // -webkit-grab;
  --handle-cursor: col-resize;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  // box-shadow: var(--lines, 0 0 0 1px);

  &--display-date {
    font-weight: 300;
    font-size: 1.25em;
  }

  &--controls {
    margin: 0 -1em;
    padding: 0 0 1.5em;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
      text-align: center;

      &:nth-child(1) {
        flex: 1;
      }

      &:nth-child(2) {
        flex: 5;

        &:hover {
          user-select: auto;
        }
      }

      &:nth-child(3) {
        flex: 1;
      }
    }

    .fa {
      color: var(--action);
      cursor: pointer;
      transition: 200ms ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &--remove-blocks {
    font-size: .65em;
  }

  &--inner {
    flex: 1;
    position: relative;
    display: flex;
  }

  // &--time {}

  ul {
    flex: 1;
    user-select: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: var(--picker-cursor);
  }

  li {
    flex: 1;
    width: 1.5em; // flex value overrides this
    height: 2em;
    display: flex;
    position: relative;
    padding: 0;
    opacity: .5;

    &.is-daytime {
      background: rgba(255, 255, 255, .15);
    }

    &.is-nighttime {
      background: rgba(0, 0, 0, .15);
    }

    &::after {
      display: block;
      content: '';
      background: currentColor;
      opacity: .5;
    }

    div {
      pointer-events: none;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }

    &:last-of-type {
      pointer-events: none;
      flex: none;

      &::after {
        display: none;
      }
    }
  }

  // orientation mechanics
  &--x {
    .sim-timepicker--inner {
      flex-direction: row;
    }

    ul {
      flex-direction: row;
    }

    li {
      align-items: flex-end;
      justify-content: center;
      width: 1.5em; // flex value overrides this
      height: 2em;
      box-shadow: -1px 0 0 0, 1px 0 0 0;

      &::after {
        width: 2px;
        height: 1em;
        margin-left: -1px;
      }

      div {
        width: 2px;
        height: 1em;
        bottom: 0;
        left: 0;
        transform: translate(-50%, calc(100% + 1em));
      }

      &:first-of-type {
        box-shadow: -1px 0 0 0, 1px 0 0 0 inset, 1px 0 0 0;
      }

      &:last-of-type {
        box-shadow: -1px 0 0 0;
        width: 1px;
        margin-right: -1px;
      }
    }
  }

  &--y {
    .sim-timepicker--inner {
      flex-direction: column;
    }

    .sim-timeblock--y {
      width: calc(100% - 2em);
      left: 1em;
    }

    ul {
      flex-direction: column;
    }

    li {
      align-items: center;
      justify-content: center;
      height: 1.5em; // flex value overrides this
      width: calc(100% - 2em);
      box-shadow: 0 -1px 0 0, 0 1px 0 0;

      &::after {
        height: 2px;
        width: 3em;
        margin-top: -1px;
      }

      div {
        height: 2px;
        width: 1em;
        top: 0;
        left: 0;
        transform: translate(calc(-100% - 1em), 50%);
      }

      &:first-of-type {
        box-shadow: 0 -1px 0 0, 0 1px 0 0 inset, 0 -1px 0 0;
      }

      &:last-of-type {
        box-shadow: 0 1px 0 0;
        height: 1px;
        margin-bottom: -1px;
      }
    }
  }
}
