.sim-tooltip {
  &__cue {
    opacity: .4;
  }
  &__bubble {
    width: 12em;
    background: var(--tooltip-bg, var(--default-tooltip-bg));
    color: var(--tooltip-fg, var(--default-tooltip-fg));
    font-size: .8em;
    padding: .7em 1em;
    border-radius: .3em;
    box-shadow: 0 .5em 2em -.5em var(--tooltip-shadow, var(--default-tooltip-shadow));
    &--up::after {
      border-top-color: var(--tooltip-bg, var(--default-tooltip-bg));
    }
    &--down::after {
      border-bottom-color: var(--tooltip-bg, var(--default-tooltip-bg));
    }
  }
}
