@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');

:root {
  --calc-pt25: calc(1vw + .25em);
  --calc-pt5: calc(1vw + .5em);
  --calc-pt75: calc(1vw + .75em);
  --calc-1: calc(1vw + 1em);
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6 {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 0;   
  & + p {
    margin-top: 1.5rem;
  }
}

pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
}

.drop-caps {
  clear: both;
  &:first-letter {
    color: var(--red);
    float: left;
    font-size: 4rem;
    line-height: .8;
    padding-top: .05em;
    padding-right: .5rem;
    padding-left: .125rem;
  }
  &--serif {
    &:first-letter {
      font-family: var(--serif-font-family);
    }
  }
}

.text-highlight {
  background-color: var(--yellow);
  color: var(--dark);
  padding: .25em;
}

blockquote {
  background: var(--lighter);
  border-left: 4px solid var(--red-film);
  font-family: var(--serif-font-family);
  font-style: italic;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  padding: 1rem;
}