:root {
  --default-ms: 350ms;
  --panel-width: 30em;

  --base-bg: var(--lightest);
  --base-color: var(--dark);
  --base-link-color: var(--action);
  --base-radius: .2em;

  --header-bg: var(--darker);
  --header-fg: var(--light);

  --menu-bg: var(--light);
  --menu-fg: var(--dark);

  --calc-pt25: calc(1vw + .25em);
  --calc-pt5: calc(1vw + .5em);
  --calc-pt75: calc(1vw + .75em);
  --calc-1: calc(1vw + 1em);

  // colors
  --darkest: #000;
  --darker: #222;
  --dark: #333;
  --dark-grey: #444;
  --grey: #565656;
  --medium-grey: #777;
  --light-grey: #CCC;
  --lighter-grey: #DDD;
  --light: #EEE;
  --lighter: #FAFAFA;
  --lightest: #FFF;

  --blue: #4A93B9;
  --blue-light: #76BADF;
  --blue-lighter: #96B3CB;
  --blue-film-light: rgba(74, 147, 185, .15);
  --blue-film: rgba(74, 147, 185, .5);
  --blue-film-heavy: rgba(14, 103, 150, .9);

  --red: #CA1E34;
  --red-film: rgba(202, 30, 52, .5);
  --red-film-light: rgba(202, 30, 52, .15);
  --red-film-lighter: rgba(202, 30, 52, .05);

  --orange: #FF7042;
  --orange-film: rgba(255, 112, 66, .5);
  --orange-lighter: #f5a623;

  --yellow: #FFC929;
  --yellow-film: rgba(255, 201, 41, .5);

  --green: #9CCC66;
  --green-lighter: #BFD98C;
  --green-film: rgba(156, 204, 102, .5);

  --aqua: #00C1D9;
  --aqua-film: rgba(0, 193, 217, .5);

  --purple: #AB47BD;
  --purple-film: rgba(171, 71, 189, .5);

  --accent: var(--medium-grey);
  --accent-text: #FFF;
  --action: var(--blue);
  --action-light: var(--blue-light);
  --active: var(--blue-film-heavy);
  --focus: var(--aqua);

  --success: var(--green);
  --danger: var(--red);
  --warning: var(--orange);
  --alert: var(--yellow);
  --royal: var(--purple);
  --helper: #FF6300;

  --base: #257AA5;
  --snow: #FAFAFA;
  --cloud: #DADADC;
  --shadow: rgba(0,0,0, .8);
  --twilight: rgba(0,0,0, .5);
  --dusk: rgba(0,0,0, .3);
  --shade: rgba(0,0,0, .05);
  --dust: rgba(119,119,119, .05);
  --edge: rgba(119,119,119, .15);
  --line: rgba(119,119,119, .5);
  --ghost: rgba(128,128,128, .5); // middle grey, middle opacity
  --mist: rgba(255,255,255, .2);
  --fog: rgba(255,255,255, .5);
  --frost: rgba(255,255,255, .8);

  --icon-font: 'FontAwesome';
  --icon-check: '\f00c';
  --icon-check-circle: '\f058';
  --icon-check-square: '\f14a';
  --icon-check-square-o: '\f046';
  --icon-circle-thin: '\f1db';
  --icon-minus-circle: '\f056';

  // alternate spellings
  --dark-gray: var(--dark-grey);
  --gray: var(--grey);
  --medium-gray: var(--medium-grey);
  --light-gray: var(--light-grey);
  --lighter-gray: var(--lighter-grey);

  --color-brand-grey: #53565A;
  --color-brand-grey-dark: #403C3D;
  --color-brand-green: #78D64B;
  --color-brand-green-faded: #91D6AC;
  --color-brand-green-dark: #007377;

  // base fonts
  --base-font: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --serif-font: 'Garamond', 'Cambria', Georgia, serif;

  // brand fonts
  --headline-font: 'din-condensed', var(--base-font);
  --primary-font-light: 'montserrat-300', var(--base-font);
  --primary-font-regular: 'montserrat-400', var(--base-font);
  --primary-font-medium: 'montserrat-500', var(--base-font);
}

.text {
  &--red {
    color: var(--red);
  }

  &--orange {
    color: var(--orange);

    &--lighter {
      color: var(--orange-lighter);
    }
  }

  &--yellow {
    color: var(--yellow);
  }

  &--green {
    color: var(--green);
  }

  &--aqua {
    color: var(--aqua);
  }

  &--blue {
    color: var(--blue);

    &--lighter {
      color: var(--blue-lighter);
    }
  }

  &--purple {
    color: var(--purple);
  }

  &--grey {
    color: var(--grey);
  }

  &--light-grey {
    color: var(--light-grey);
  }

  &--gray {
    color: var(--gray);
  }

  &--light {
    color: var(--light);
  }

  &--dark {
    color: var(--dark);
  }

  &--ghost {
    color: var(--ghost);
  }
}

.ghost {
  opacity: .5;
}

@import 'scss-variables';
